{% extends "authentication/baseauth.html" %}
{% block body%}
<div class="container mt-5">
    <div class="bg-dark text-light p-4 rounded shadow" style="width: 350px; margin:auto;">
        <h4 class="text-center mb-3">Reset Password</h4>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <label>New Password</label>
            <input type="password" class="form-control" name="password1" required>

            <label class="mt-2">Confirm Password</label>
            <input type="password" class="form-control" name="password2" required>

            <button class="btn btn-success w-100 mt-3">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}
